# Testing YOLOv5

In [14]:
import torch
import cv2
import numpy as np
import matplotlib.pyplot as plt

In [15]:
PHOON = "../image processing/image.png"
SAM = "../image processing/sam.png"

In [16]:
# load YOLOV5 model
model = torch.hub.load('ultralytics/yolov5', 'yolov5s')

Using cache found in C:\Users\fongc/.cache\torch\hub\ultralytics_yolov5_master
YOLOv5  2022-10-30 Python-3.10.4 torch-1.12.1 CUDA:0 (NVIDIA GeForce GTX 1080 Ti, 11264MiB)

Fusing layers...
YOLOv5s summary: 213 layers, 7225885 parameters, 0 gradients
Adding AutoShape...

In [17]:
sample_image = cv2.imread("../image processing/sam.png")
sample_image = cv2.cvtColor(sample_image, cv2.COLOR_BGR2RGB)
sample_image.shape

(4032, 3024, 3)

In [18]:
output = model(sample_image)
locations = output.pandas().xyxy[0]
locations

,xmin,ymin,xmax,ymax,confidence,class,name
0,2664.802979,2105.201416,3023.166504,3429.859131,0.708153,0,person
1,753.305603,3131.430664,1881.173462,3990.446777,0.604553,45,bowl
2,793.857910,2119.167236,2168.545410,2581.734131,0.541019,53,pizza
3,2577.572021,2309.634521,2851.037109,2957.665527,0.496329,56,chair
4,396.442200,1000.841919,2616.462646,3360.106201,0.439024,0,person
5,2134.939697,2047.931396,2958.225586,2244.889893,0.426364,60,dining table
6,788.001282,3007.595215,1159.466309,3734.685547,0.404437,44,spoon
7,2621.507324,3748.203857,3005.864990,4013.185303,0.272843,46,banana
8,171.344513,498.330505,322.336914,863.677307,0.267362,9,traffic light