# Assignment 2


#  Data pre-processing

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [2]:
q1_data = pd.read_csv('2-1.csv')
q2_data = pd.read_csv('2-2.csv')

In [5]:
q1_data

         type difficulty learned\_before completeness class: proper\_question
0        math       hard             yes         poor                      no
1   chemistry       hard              no         good                      no
2    language       hard             yes         good                     yes
3    language     medium              no         poor                     yes
4        math       easy             yes         poor                     yes
5    language       easy              no         good                      no
6   chemistry       easy             yes         poor                     yes
7        math     medium              no         poor                      no
8        math       easy             yes         poor                     yes
9   chemistry     medium              no         poor                     yes
10   language     medium             yes         good                     yes
11       math     medium              no         poor                     yes
12  chemistry       hard             yes         good                     yes
13       math     medium             yes         poor                      no

# **Q1 (a)**

In [24]:
# create a decision tree classifier using information gain, min_samples_split = 4, random_state = 1
clf = DecisionTreeClassifier(
    criterion = 'entropy',
    min_samples_split = 4,
    random_state = 1
)

In [52]:
# preprocess the data with LabelEncoder
le = LabelEncoder()
for col in q1_data.columns:
    le.fit(q1_data[col])
    print(col, list(le.classes_))
    print(col, le.classes_)
    q1_data[col] = le.fit_transform(q1_data[col])

type [0, 1, 2]
difficulty [0, 1, 2]
learned\_before [0, 1]
completeness [0, 1]
class: proper\_question [0, 1]

In [46]:
q1_data.head()

   type  difficulty  learned\_before  completeness  class: proper\_question
0     2           1                1             1                        0
1     0           1                0             0                        0
2     1           1                1             0                        1
3     1           2                0             1                        1
4     2           0                1             1                        1

In [39]:
# separate X and Y
X = q1_data.iloc[:, 0:4]
Y = q1_data.iloc[:, 4]

# split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

In [40]:
# fit the model
clf.fit(X_train, Y_train)

DecisionTreeClassifier(criterion='entropy', min_samples_split=4, random_state=1)

In [51]:
clf.predict([[2, 1, 1, 1], [1, 1, 1, 0]])

c:\Users\fongc\anaconda3\envs\ml\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1, 1], dtype=int64)

In [45]:
# calculate the training and testing accuracy
print('Training accuracy: ', accuracy_score(Y_train, clf.predict(X_train)))
print('Testing accuracy: ', accuracy_score(Y_test, clf.predict(X_test)))

Training accuracy:  0.9
Testing accuracy:  0.5

# **Q1 (b)**

# **Q1 (c)**

# **Q1 (d)**

# **Q1 (e)**

# **Q1 (f)**

# **Q2 (a)**

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import BernoulliNB

In [ ]:
from sklearn.model_selection import train_test_split
X_train_text, X_test_text, y_train, y_test = train_test_split(q2_data['text'], q2_data['sentiment'], random_state=1)

# **Q2 (b)**